body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
    background-size: cover;
    background-position: center;

}

h1 {
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 400px;
    color: #d7e2d7;
}

form {
    max-width: 400px;
    margin: 0 auto;  
    font-family: cursive; 
    color: rgb(231, 22, 74);
}

label {
    display: block;
    margin-top: 10px;
}

select {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}    

input[type="text"],
input[type="text"],
input[type="email"]
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button {
    background-color: rgb(231, 22, 74);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px
}